
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  margin: 3em;
}

h1, h2, h3, p {
  color: #333;
  padding: 0.5em 5%;
  margin-left: 0;
}

div#matrioska {
  max-width: 30em;
  margin: 2em auto;
}

.meta {
  background: lightyellow;
  font-size: 90%;
  padding: 2em 2em;
}

ul#guesses li.sure {
  color: green
}

ul#guesses li.possible {
  color: orange
}

ul#guesses li.unsure {
  color: silver
}

ul#guesses li span {
  margin: 2em;
  font-size: 60%;
}