
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

.left-overlay {
  float: left;
  width: 50%
}

.floater {
  width: 40%;
  position: fixed;
  right: 0;
  top: 4em;
  background: none;
}